h1 {
    right: 10px;
    top: -15px;
    position: fixed;
}

input, textarea {
    width: 80px;
}

body {
    background-image: url("aircraft.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    color: white;
}

a {
    color: bisque;
}

img {
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}
